<mat-toolbar>
  <button  (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Dolly</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container  autosize>
  <mat-drawer #drawer mode="side" opened='true' >
    <div fxLayout='column'>
      <a mat-button >Login</a>
      <a mat-button >Usuarios</a>
      <a mat-button >Agregar</a>
      <a mat-button >Eliminar</a>
    </div>
  </mat-drawer>

  <div fxLayout='column' class='content'>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

